# Ad hoc folder for untracked files
untracked

# Build directory
*build/*

# Output directory
output/*

# Compressed files
*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig

# Binary files
song
print_bispectra
print_params
print_sources1
print_sources2
print_transfers1
print_transfers2
print_couplings
class

# Valgrind related files
*.supp
*.dSYM

# Configurations file
.gdb_history